
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>This is a sample web application built to show how to automate the website deployment using Powershell, Visual studio
    and XSLT[Extensible Stylesheet Language Transform]</h4>

